<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="dist/socket.io.js"></script>
  <script src="./javascripts/socket-calls.js"></script>
  <title>{{ title }}</title>
</head>
<body>
  {{{ body }}}
</body>
</html>
