<link href="./stylesheets/login.css" type="text/css" rel="stylesheet">
<link href="./stylesheets/bar-style.css" type="text/css" rel="stylesheet">
<link href="./stylesheets/grid.css" type="text/css" rel="stylesheet">
<link href="./stylesheets/style.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div id="bg">

  <div class="module">


    <div class="icon-bar">
      <a class="active" href="#"><i class="material-icons">home</i></a>
    </div>

    <form class="form">
      <input type="text" placeholder="Accoutnname" class="textbox"  id="field-accountName"/>
      <input type="password" placeholder="Password" class="textbox"  id="field-password"/>
      <input type="button" value="LOG IN" class="button" onClick="loginAttempt()"/>
    </form>
  </div>
</div>
