<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-random"></i> Maze Project  </b></h5>
</header>

<!-- Main Content -->
<div class="w3-container">


</div>

<!-- Links -->
<div class="w3-container">
<h5><b><i class="fa fa-link"></i> Intersting Links: </b></h5>
<table class="w3-table w3-striped w3-white">
  <tbody><tr>
    <td><i class="fa fa-youtube w3-text-red w3-large"></i></td>
    <td><a href="https://www.youtube.com/watch?v=HyK_Q5rrcr4">Coding Challenge #10.1: Maze Generator with p5.js - Part 1</a></td>
    <td><i>16:04</i></td>
  </tr>
  <tr>
    <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
    <td>Database error.</td>
    <td><i>15 mins</i></td>
  </tr>
</tbody></table>
</div>
