<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-paint-brush"></i> Maze using P5 </b></h5>
</header>

<!-- Main Content -->
<div class="w3-container" id="game-div">
  <script type="text/javascript" src="./javascripts/p5.js"></script>
  <script type="text/javascript" src="./javascripts/p5-libraries/p5.dom.js"></script>
  <script type="text/javascript" src="./javascripts/p5-libraries/p5.sound.js"></script>
  <script type="text/javascript" src="./projects/04a-P5-Maze/04a-P5-Maze.js"></script>
  <script type="text/javascript" src="./projects/04a-P5-Maze/cell.js"></script>
</div>


<!-- Links -->
<div class="w3-container">
<h5><b><i class="fa fa-link"></i> Intersting Links: </b></h5>
<table class="w3-table w3-striped w3-white">
  <tbody><tr>
    <td><i class="fa fa-youtube w3-text-red w3-large"></i></td>
    <td><a href="https://www.youtube.com/watch?v=HyK_Q5rrcr4">Coding Challenge #10.1: Maze Generator with p5.js - Part 1</a></td>
    <td><i>16:04</i></td>
  </tr>
  <tr>
    <td><i class="fa fa-youtube w3-text-red w3-large"></i></td>
    <td><a href="https://www.youtube.com/watch?v=D8UgRyRnvXU">Coding Challenge #10.2: Maze Generator with p5.js - Part 2</a></td>
    <td><i>14:18</i></td>
  </tr>
  <tr>
    <td><i class="fa fa-wikipedia-w w3-text-grey w3-large"></i></td>
    <td><a href="https://en.wikipedia.org/wiki/Maze_generation_algorithm#Recursive_backtracker">Wikipedia: Maze generation algorithm</a></td>
    <td><i>-</i></td>
  </tr>

</tbody></table>
</div>
