<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Header -->
<header class="w3-container" style="padding-top:22px">
  <h5><b><i class="fa fa-paint-brush"></i> Box2D Tutorial </b></h5>
</header>

<!-- Main Content -->
<div class="w3-container" id="game-div">
  <script type="text/javascript" src="./projects/02-Phaser-box2d/phaser.js"></script>
  <script type="text/javascript" src="./projects/02-Phaser-box2d/phaser.2.2.2.box2d.min.js"></script>
  <script type="text/javascript" src="./projects/02-Phaser-box2d/02-Phaser-box2d.js"></script>
</div>
<div class="w3-container" id="game-div">
  <button onClick="create()"> Restart </button>
</div>

<!-- Links -->
<div class="w3-container">
<h5><b><i class="fa fa-link"></i> Intersting Links: </b></h5>
<table class="w3-table w3-striped w3-white">
  <tbody><tr>
    <td><i class="fa fa-link w3-text-blue w3-large"></i></td>
    <td><a href="http://phaser.io/examples/v2/box2d/car-on-terrain">Car On Terrain - This Example is using the Phaser Box2D Plugin.</a></td>
    <td><i>??</i></td>
  </tr>

</tbody></table>
</div>
